.campoDeporte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    width: 100%;
    margin: 0;
}
.bodyCampoDeporte{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    margin: 0;
}


@media(max-width:850px){
    
    .bodyCampoDeporte{
        width: 100%;
        padding: 0;
    }
   .campoDeporte{
    padding: 0;
   }
}