.container{
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 10px;
    
}

.image{
    width: 2rem;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

@media(max-width:500px){
    

    .label{
        display: none;
    }

     .box:hover .imageContainer {
        position: relative;
        transition: opacity 0.3s;
        display:none ;
       
      }
      .box:hover .label{
        
        display:block ;
      }
      .label:hover{
        cursor: pointer;
      }
      
      
      /* .imageContainer {
        position: relative;
        transition: opacity 0.3s;
      }
      
      .imageContainer:hover {
        opacity: 0;
        
      }
     */


}



@media(max-width:300px){
.container{
    margin-left: 0%;
    margin-right: 0%;
}
.label{
    font-size: 10px !important ;
}
}
