.texto{
    padding: 15px;
}
.box{
    margin-top: 15px;
    margin-bottom: 15px;
}

.titulo{
    text-decoration:underline;
    text-decoration-thickness: 2px;
}

@media(max-width:600px){
    .texto h3{
        font-size: 2rem;
    }
    .texto h6{
        font-size: 1rem;
    }
    .texto p{
        font-size: 0.8rem;
    }
}