.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.texto {

    margin-left: 15%;
    margin-right: 15%;
}
.flecha img {
    width: 2rem;
}
.subTitle{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}