
.toolbar1{
    width: 100%;
    display: grid !important;
    grid-template-columns: 2fr 1fr;
    
}
.iconButton{
    font-size: 3rem !important;
}
.box1{
    display: flex;
    justify-content: center;
    display: none !important;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3{
    padding-left: 20%;
}
.redes{
    width: 70%;
    
}

.logo{
    padding: 10px;
    width: 20rem;
    height: auto;
  }


  .enlaces {
    text-decoration: none; /* Elimina la decoración del enlace */
    display: inline-block; /* Permite establecer anchos y altos */
   padding: 10px;

    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }

@media(max-width:1200px){
 
    .toolbar2{
        display: none !important ;
    }
    .toolbar1{
        grid-template-columns: 1fr 4fr 2fr;
    }
    .box1{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
 
}

@media(max-width:1181px){
    /* .box3{
        display: none !important;
    } */
    .toolbar1{
        grid-template-columns: 1fr 4fr 3fr;
    }


}
@media(max-width:865px){
    
    .box3{
        display: none;
    }
    .toolbar1{
        grid-template-columns: 1fr 5fr;
    }
    .logo{
        width: 15rem;
        height: auto;
    }
    .iconButton{
        font-size: 2rem !important;
    }
}
@media(max-width:320px){
    .toolbar1{
        padding: 0 !important;
    }
    .iconButton{
     font-size: 1rem !important;
    }
    .logo{
     width: 100%;
     height: auto;
    }
 
    .drawer{
     width: 70vh !important;
     background: black !important;
    }
 
 }