
.footer {
  position:relative !important;
  left: 0;
  bottom: 0;
  width: 100%;
  align-items: center;
}
.toolbar2{
    
    width: 50em;
    height: auto;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;

   
}
.toolbar1{
    width: 70em;
    height: auto;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr; 

}
.box1 img{
    width: 55%;
    height: auto;
}
.box2 img {
    width: 50%;
    height: auto;
}

@media(max-width:1150px){
    .toolbar1{
    width: 50rem;   
    height: auto;
    }
    
        .footer{
            font-size: 14px;
        }
    
}
@media(max-width:800px){
    .toolbar1{
        width: 100%;   
        
        }
     .box1 img{
        width: 70%;
     }   
        
            .footer{
                font-size: 12px;
            }
            .toolbar2{
                width: 100%;   
              
                }
}

@media(max-width:400px){
    .box1 img{
        width: 90%;
        
     }   
     .footer{
        font-size: 8px;
     }
    .box2 img{
        width: 60%;
    }
}

@media(max-width:300px){
    
    .text{
        display: none !important;
    }
    .toolbar2{
        grid-template-columns: 1fr 1fr 1fr;
    }
}