.imagenes{
    display: grid;
    width: 100%;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;

}
.imagenes img{
    width: 100%;
    height:auto;
    object-fit: cover;
}
/* Estilos para el contenido del modal */
.modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }
  
  .modalContent img {
    max-width: 90%;
    max-height: 90%;
  }