
.box1{
    display: flex;
    max-height: 50vh;
    
}
.box1 img{

    width: 100%;
    height:auto;
    object-fit: cover;
}
.box2{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5px;
    padding-top: 20px;
    /* height: 25vh; */
    
}
.box5{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 15px;
    margin-bottom: 15px;
    
}


/*  MEDIAS QUERIES*/

@media(max-width:800px){
    .box5{
        grid-template-columns: 1fr;
    }
}

/* 
@media(max-width:865px){
 .box1{
    height: 50vh;
 }
 .box2{
    height: 20vh;
 }
}
@media(max-width:600px){
    .box1{
        height: 40vh;
       
    }
    .box2{
        padding-top: 0;
    }
   
}

@media(max-width:500px){

    .box2{
        height: 22vh;
    }
}


@media(max-width:400px){
    .box1{
        height: 30vh;
        
    }
    .box2{
        display: flex;
        height: 32vh;
        justify-content: center;
        align-items: center;
    }
} */

